body {
    margin: 0;
}

.main-container {
    width: 100 vw;
    height: 100 vh;
    background-image: url('./media/fondo.jpg');
    padding-top: 20px;

}

.card {
    height: 600px;
    width: 500px;
    margin: auto;
    margin-top: 15px;
}

.img {
    width: 100%;
    height: 55%;

}

.image-container {
    width: 100%;
    height: 55%;
}

.text-container{
    background-color: antiquewhite;
    height: 45%;
    padding: 25px 20px;
}


h1{
    margin-top: 0;
    text-align: center;
}

hr{
    border: dotted gray 1px;
}

p { /*Con coma aplicar reglas a varios elementos*/
    color: gray;
}

button {
    margin: auto;
    display: block;
    background-color: red;
    border: none;
    color: white;
    height: 40px;
    font-size: 14px;
    width: 180px;
}