body {
    margin: 0;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 20px;
}

@media (width >= 1200px) {
    .datos-personales, .formacion-academica, .experiencia-laboral {
        width: 33.3%;
        float: left;
    }
}

@media (600px <= width <= 1199px) {
    .formacion-academica, .experiencia-laboral, .datos-personales {
        width: 50%;
        float: left;
    }
}

@media (width <= 600px) {
    .datos-personales, .formacion-academica, .experiencia-laboral {
        height: 200px;
        width: 100%;
        float: left;
    }
}