* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.tarjeta {
    background-color: #ffffff;
    width: 350px;
    padding: 40px 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-top: 50px;
}

.foto-perfil {
    width: 130px;
    height: 130px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    border: 5px solid #fff;
}

.foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    margin-top: 60px;
}

.texto h1 {
    color: #333a4b;
    font-size: 29px;
}

.texto h3 {
    color:#f38d3c;
    font-weight: 500;
    margin-bottom: 15px;
}

.texto p {
color: #666;
    font-size: 0.95rem;
    line-height: 1.4;
    margin-bottom: 25px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
}

.circulored {
    width: 45px;
    height: 45px;
    background-color: rgb(244, 238, 238);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a90e2; /* Color de los iconos */
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

.contacto {
background-color: #ff914d;
    color: white;
    border: none;
    padding: 12px 40px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}